.header-nav {
  background: rgb(22, 22, 22);
  max-height: 10vh;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
}

.header-nav ul {
  display: flex;
  justify-content: space-evenly;
}
.header-nav ul li {
  list-style: none;
  margin-left: 25%;
}
.header-nav ul li a {
  color: white;
  text-decoration: none;
  display: flex;
}
.header-nav ul li a :nth-child(1) {
  margin-right: 5px;
}
.header-nav ul li a:hover {
  color: rgb(58, 204, 214);
  transition: 0.3s;
}
.header-nav .brand {
  display: flex;
  width: 5%;
}
.header-nav .brand .logo {
  max-width: 50px;
  max-height: 50px;
  margin-left: 1%;
}
.header-nav .brand h1 {
  color: white;
}
.header-nav .brand h1 span {
  color: rgb(170, 11, 72);
}
.header-nav .hamberger {
  width: 40px;
  height: 40px;
  border: 1px solid red;
  margin: 1.5% 1% 1.5% 1%;
}
.header-nav .hamberger .line1 {
  height: 5px;
  background: white;
  margin-bottom: 5px;
}
.header-nav .hamberger .line2 {
  height: 5px;
  background: white;
  margin-bottom: 5px;
}
.header-nav .hamberger .line3 {
  height: 5px;
  background: white;
  margin-bottom: 5px;
}
.header-nav .hamberger_opened {
  width: 40px;
  height: 40px;
  border: 1px solid red;
  margin: 1.5% 1% 1.5% 1%;
}
.header-nav .hamberger_opened .line1 {
  height: 5px;
  width: 40px;
  background: red;
  margin-bottom: 5px;
  transform: translateY(10px) rotate(45deg);
}
.header-nav .hamberger_opened .line2 {
  height: 5px;
  width: 40px;
  background: red;
  margin-bottom: 5px;
  transform: rotate(135deg);
}
.header-nav .hamberger_opened .line3 {
  display: none;
}
.header-nav .profile {
  display: flex;
  flex-direction: column;
  width: 10%;
}
.header-nav .profile .profile_details {
  display: flex;
  margin-right: 2.5%;
}
.header-nav .profile .profile_details .drop_down :nth-child(1) {
  width: 25px;
  height: 25px;
  color: white;
  margin-top: 10px;
}
.header-nav .profile .profile_details .drop_down :nth-child(1):hover {
  transform: scale(1.2);
  color: rgb(0, 140, 255);
  transition: 1s;
}
.header-nav .profile .details {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.header-nav .profile .profile_details div .profile_img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.header-nav .profile .profile_details div .username {
  color: white;
  position: relative;
  margin-top: -5%;
  font-size: small;
}
.header-nav .profile .droped_down {
  background: rgb(22, 22, 22);
  margin-right: 1px;
  margin-top: -12px;
  display: none;
  z-index: 99;
}

.header-nav .profile .droped_down div {
  padding: 10%;
}
.header-nav .profile .droped_down div a {
  color: white;
  font-size: small;
  text-decoration: none;
}
.header-nav .profile .droped_down div a:hover {
  color: rgb(58, 204, 214);
  font-size: small;
  text-decoration: none;
  transition: 0.5s;
}

.header-nav .profile .droped_down .close {
  height: 2vh;
  background: rgb(9, 139, 148);
}
.header-nav .profile .droped_down .close h1 {
  font-size: small;
  text-align: center;
  cursor: pointer;
  color: white;
  font-weight: bold;
  margin-top: -5px;
}

/* blog designs */
.blog {
  margin: 2.5%;
}
.blog-header {
  border: 2px solid red;
  height: 15vh;
}
.articles {
  display: grid;
  grid-template-columns: 70% 27.5%;
  grid-gap: 2.5%;
  margin-top: 2.5%;
}

.blog-left {
  border: 2px solid red;
  height: auto;
  width: 100%;
}
.blog-left .post-title h1 {
  text-align: center;
}
.blog-left .post-image img {
  width: 95%;
  margin: 2.5%;
  max-height: 50vh;
}
.blog-left .post-description p {
  width: 95%;
}
.blog-right {
  border: 2px solid red;
  height: auto;
}
