.login {
  margin-top: 10%;
  margin-bottom: 10%;
}
.signup {
  margin-top: 10%;
  margin-bottom: 10%;
}

.login-container Form {
  display: inline-block;
  box-shadow: 2px 2px 2px 2px black;
  padding: 2.5%;
  width: 40%;
}
.login-container Form .group .label {
  float: left;
}
.login-container Form Button {
  float: right;
}
.login-container Form .login-labels {
  display: flex;
  flex-direction: column;
}
.login-container Form .login-labels .forgot-psw {
  font-size: small;
  text-align: left;
}
.login-container Form .login-labels .no-account {
  font-size: small;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .login {
    margin-top: 20%;
    margin-bottom: 20%;
  }
  .signup {
    margin-top: 20%;
    margin-bottom: 20%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .login {
    margin-top: 35%;
    margin-bottom: 35%;
    min-height: 50vh;
  }
  .signup {
    margin-top: 35%;
    margin-bottom: 35%;
    min-height: 50vh;
  }
}
@media screen and (max-width: 768px) {
  .login {
    margin-top: 25%;
    margin-bottom: 25%;
    min-height: 50vh;
  }
  .signup {
    margin-top: 25%;
    margin-bottom: 25%;
    min-height: 50vh;
  }
}
